
.cart-header {
    color: black;
}

.cart-item-wrapper {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    gap: 10px;
    font-size: 10px;
}

.cart-item-details {
    width: 200px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 30px;

    width: fit-content;
    margin: 0 auto;
}

.cart-img {
    height: 80px;
}

.cart-quantity-selector {
    transform: scale(0.6);
}

.cart-total-checkout {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    color: black;

    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.cart-total {
    font-weight: bold;
}

.checkout-button {
    background-color: black;
    border-radius: 0;
    border: transparent;
    padding: 7px 10px;
    text-transform: uppercase;
    font-family: 'Ibm Plex';
    margin-top: 5px;
    cursor: pointer;
}

.checkout-button:hover {
    opacity: 0.8;
}

.cart-remove {
    color: #2a77c1;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 10px;
}

.cart-item-left, .cart-item-right {
    display: flex;
    align-items: center;
}

.cart-item-right {
    gap: 10px;
}

.cart-item-left {
    gap: 30px;
}

.empty-cart {
    color: black;
}

.subtotal-remove {
    display: flex;
    gap: 10px;
}

.total-price {
    display: flex;
    gap: 5px;
}