
.cat-header {
    color: black;
    text-transform: capitalize;
    padding-bottom: 30px;
    font-family: 'Ibm Plex';
    letter-spacing: 2px;
}

.cat-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    row-gap: 50px;
}

.cat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 60px;
    background: white;
    cursor: pointer;
    max-width: 200px;
    gap: 10px;
}


.cat-card-img-wrapper {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.cat-card-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.cat-item-text {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
}

.cat-card-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.cat-container {
    padding-bottom: 30px;
}