
.home-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.home-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    font-family: 'Martel';
    text-shadow: 0 2px 10px rgba(0,0,0,0.6);
    white-space: nowrap;
    line-height: 1.2;
}

.home-hero-subtext {
    text-transform: none;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    text-align: start;
    padding: 50px 80px;
}

.home-image {
    width: 80%;
}

.home-text {
    color: black;
}

.home-text-header {
    font-size: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
}