
.product-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 100px;
    color: black;
}

.product-image {
    height: 400px;
    max-width: 300px;
    width: 100%;
    object-fit: contain;
}

.product-text {
    padding-top: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    width: 100%;
    font-size: 26px;
}

.product-title {
    font-weight: bold;
}

.product-price-rating {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    font-size: 22px;
}

.product-price {
    font-weight: bold;
    font-size: 26px;
}

.product-rating {
    display: flex;
    gap: 6px;
}
