
.product-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 100px;
    color: black;
}

.product-image {
    height: 400px;
    max-width: 300px;
    width: 100%;
    object-fit: contain;
}

.product-text {
    padding-top: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 350px;
    width: 100%;
}

.product-price-rating {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.product-price {
    font-weight: bold;
    font-size: 20px;
}

.product-rating {
    display: flex;
    gap: 6px;
}

.quantity-cart {
    display: flex;
    justify-content: space-between;
}

.add-to-cart {
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 6px 20px;
    border-color: transparent;
    text-transform: uppercase;
    font-family: "IBM Plex";
    cursor: pointer;
}

.add-to-cart:hover {
    opacity: 0.8;
}