
.quantity-container {
    display: inline-flex;
    gap: 25px;
    background-color: #e8e8e8;
    border-radius: 20px;
    padding: 6px 16px;
}

.quantity-container button {
    background-color: transparent;
    border: transparent;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.quantity-cart {
    display: flex;
    justify-content: space-between;
}

.add-to-cart {
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 6px 20px;
    border-color: transparent;
    text-transform: uppercase;
    font-family: "IBM Plex";
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart:hover {
    opacity: 0.8;
}